@import "tailwindcss";

:root {
  --bg: #0A0F1C;
  --primary: #0EA5E9;
  --accent: #38BDF8;
  --text: #E2E8F0;
  --muted: #64748B;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

/* glow utility */
.glow {
  box-shadow: 0 0 20px rgba(14, 165, 233, 0.4);
}

/* subtle grid background */
.grid-bg {
  background-image: 
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}
html {
  scroll-behavior: smooth;
}


.rotate-y-180 {
  transform: rotateY(180deg);
}










.trace-path {
  fill: none;

  /*  laser core */
  stroke: white;
  stroke-width: 2.2;
  stroke-linecap: round;

  stroke-dasharray: 32 68;
  stroke-dashoffset: 0;

  animation: trace-run 4s linear infinite;

  will-change: filter;
	
  /* */
  filter:
    drop-shadow(0 0 6px rgba(255, 255, 255, 1))   /* white core */
    drop-shadow(0 0 12px rgba(125, 211, 252, 1)) /* inner blue */
    drop-shadow(0 0 22px rgba(56, 189, 248, 1))  /* mid glow */
    drop-shadow(0 0 40px rgba(14, 165, 233, 0.95)) /* outer bloom */
    drop-shadow(0 0 65px rgba(14, 165, 233, 0.8)); /* ambient spill */
}
@keyframes trace-run {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 768px) {
  .trace-path {
    stroke-width: 2.8;

    filter:
      drop-shadow(0 0 10px rgba(255, 255, 255, 1))
      drop-shadow(0 0 18px rgba(125, 211, 252, 1))
      drop-shadow(0 0 30px rgba(56, 189, 248, 1))
      drop-shadow(0 0 55px rgba(14, 165, 233, 1))
      drop-shadow(0 0 90px rgba(14, 165, 233, 0.95));
  }
}
